.content {
    display: grid;
    grid-template-columns: 13% 77%; /* 70% for products, 30% for categories */
    gap: 10px; /* Adjust the gap between products and categories */
    margin-top: 20px;
   
  }
  
  .content {
    overflow: auto; /* Add scroll if content overflows */
  }