.sty{
   display: flex;
   flex-direction: row;
    justify-content: center;
  
  
}


  
 
  
  .product-description {
    overflow: hidden; /* Hide content that overflows the description */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
    word-wrap: break-word;
  }
  
  